<!DOCTYPE html>
<html>
	<head>
		<title>Escola de Chicago</title>
		<meta charset="UTF-8">
		<!-- {{{ --> <style>
/*@font-face {
	font-family: "Iosevka Term";
	src: url(/fontes/iosevka-custom-regular.ttf);
	font-weight: regular;
}

@font-face {
	font-family: "Iosevka Term";
	src: url(/fontes/iosevka-custom-bold.ttf);
	font-weight: bold;
}*/

body {
	background-color: #222222;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
	   -moz-user-select: none; /* Firefox */
	    -ms-user-select: none; /* Internet Explorer/Edge */
	        user-select: none; /* Non-prefixed version, currently
	                              supported by Chrome and Opera */
	font-size: 25pt;
	overflow: hidden;
}

.slide {
	width: 720;
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0; padding: 0;
	color: #cccccc;
	align-items: center;
	padding:55px;
}

.slide h1 {
	font-family: "Iosevka Term";
	text-align: center;
	margin:55px;
}

a:link, a:visited, a:hover, a:active {
	font-family: "Iosevka Term";
	color: #ffffff;
	text-decoration: none;
	line-height:2;
}

a:hover { color: #777777; }
		</style> <!-- }}} -->
	</head>
	<body>
		<div class="slide">
			<h1>Escola de Chicago</h1>
			<div>
				<a href="sobre.html">SOBRE</a><br/>
				<a href="universidade.html">A UNIVERSIDADE</a><br/>
				<a href="autores.html">PRINCIPAIS AUTORES</a><br/>
				<a href="referencias.html">REF. BIBLIOGRÁFICAS</a><br/>
			</div>
		</div>
	</body>
</html>
