/*@font-face {
	font-family: "Iosevka Term";
	src: url(/fontes/iosevka-custom-regular.ttf);
	font-weight: regular;
}

@font-face {
	font-family: "Iosevka Term";
	src: url(/fontes/iosevka-custom-bold.ttf);
	font-weight: bold;
}*/

html { display: table; margin: auto; }

body {
	-khtml-user-select: none;    /* Konqueror HTML */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Safari */
	user-select: none;           /* Chrome and Opera */
	background-color: #222222;
	color: #cccccc;
	font-family: "Noto Sans";
	width:770px;
	text-align: left;
	font-size: 25pt;
}

.slide {
	align-items: center;
	color: #cccccc;
	display: flex;
	flex-direction: column;
	height: 80vh;
	justify-content: center;
	margin: 0; padding: 0;
	padding:55px;
	width: 720;
	line-height:2;
}

h1 {
	font-family: "Iosevka Term";
	text-align: left;
	margin:55px;
}

a:link, a:visited, a:hover, a:active {
	font-family: "Iosevka Term";
	color: #ffffff;
	text-decoration: none;
}

a:hover { color: #777777; }

table {
	width: 100%;
	padding: 50px;
	text-align: center;
	font-family: "Iosevka Term";
}

td img { height: 300px; }
